
<header>
    <div class="header-container">
    
      <h1 class="logo"><a routerLink="/home">EverythingTracker</a></h1>
    
      <div class="nav-container">
        <ul class="nav-links">
          <li><a routerLink="/movies">Movies</a></li>
          <li><a routerLink="/anime">Anime</a></li>
          <li><a routerLink="/books">Books</a></li>
          <li><a routerLink="/shows">Shows</a></li>
        </ul>
      </div>

      <div class="user-profile">
        <button>+</button>
        <!-- <img src="assets/profile-icon.png" alt="User Profile"> -->
      </div>
    </div>
</header>
  