<div class="card-details">
    <div class="card-image">
      <img [src]="image" alt="{{ title }}" />
    </div>
    <div class="card-info">
      <h1>{{ title }}</h1>
      <p><strong>Type:</strong> {{ type }}</p>
      <p><strong>Year of Release:</strong> {{ year }}</p>
      <p><strong>Your Rating:</strong> {{ rating }}</p>
      <p><strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id arcu aliquet, eleifend mauris eget, porta enim.</p>
      <button routerLink="/" class="back-button">Back to Dashboard</button>
    </div>
  </div>
  